* {
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
}



body{
    background-image: url(https://static.haga-welt.de/IMAGES/WOHNIDEEN/FOTOTAPETEN/KOMAR/8_Teile/8-324_fussballstadion.jpg);
}



h1{
    text-align: center;
    background-color: #F8F5E4;
    font-family: Oswald;
    margin-bottom: 15px;
}

h2{
    font-size: 20px;
    font-family: Oswald;
}

#main {
    max-width: 1200px;
    margin: 0px auto;
}



.linkeSeite{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
}

.linkeSeite h2{
    text-align: center;
    background-color: #E9C20C;
}

.hauptbild{
    height: 370px;
}

.fussbaelle {
    width: 589px;
    height: 50px;
}

.fuessbaelle img {
    height: 15px;
    width: 10px;
    padding: 15px;
}

.playbutton {
    background-color: #CB0727;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    font-size: 20px;
    

}


.rechteSeite{
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding-left: 10px;
    
}

.highscoretable{
    margin: 0px auto;
    width: 100%;
    height: 300px;  
    border-spacing: 0 10px;
    margin-top: -10px;
    font-family: Oswald;
}

.highscoretable th{
    background-color: #E9C20C;
}

.highscoretable td {
    background-color: rgba(248, 245, 228, 0.7);
    text-align: center;
}

.suggestions{
    margin: auto;
    text-align: center;
}

.suggestions h2{
    background-color: #E9C20C;
}

.image-box-container {
  margin: 0px -10px;
  font-size: 0px;
}
.image-box {
  display: inline-block;
  position: relative;
  overflow: hidden;  
  padding: 0px 10px;
  box-sizing: border-box;
 
  height: 200px;
  width: 33%; /* bei mehr Boxen anpassen */
}
.image-box > img {
  width: 100%;
}
.image-box-caption {
  position: absolute;
  bottom: 0px;
  left: 10px; /* = padding von .image-box */
  right: 10px;
  
  font-size: 16px;  
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
}