@media only screen and (max-width: 439px){

    html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
    {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        border: 0;
        
    }
    
    @font-face { font-family: 'OswaldRegular'; 
                src: url('../fonts/Oswald-Regular.ttf') format('truetype'); }
    @font-face { font-family: 'OswaldLight'; 
                src: url('../fonts/Oswald-Light.ttf') format('truetype'); }
    @font-face { font-family: 'NotoSans'; 
                src: url('../fonts/NotoSans-Regular.ttf') format('truetype'); }



    body{
        max-height: auto;
        background-image:url(../images/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .heading{
        height: 32px;
        width: calc(100% - 21px);
        background: rgb(248, 245, 228);
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 49%;
        display: inline-block;
    }
    
    h1{
        text-align: center;
        margin-top: 4px;
        font-family: 'OswaldRegular';
        font-size: 16px; 
    }

    .quizbild img{
        width: calc(100% - 21px);  
        display: block;
        position: inherit;
        margin-top: 9px;
        margin-left: 11px;
    }

    .punkte{
        height: 25pt;
        width: calc(100% - 21px);
        background-color: rgb(233, 194, 12);
        transform: translate(11px);
        display: inline-block;
    }
    
    .punkte p{
        text-align: center;
        font-family: 'OswaldRegular';
        font-size: 13px;
        margin-top: 5pt;
    }

    .fussbaelle img{
        height: 13px;
        width: 13px;
        padding: 2.5px;
        transform: translate(11px);
        margin-top: 5pt;
    }
        
    .erneut, .highscore-btn{
        background: rgb(203, 7, 39);
        color: rgb(255, 255, 255);
        height: 25pt;
        width: calc(100% - 21px);
        transform: translate(11px);
        margin-top: 13px;
        border: none;
        display: inline-block;
    }
    
    .erneut p, .highscore-btn p{
        font-family: 'NotoSans';
        font-size: 13px;
        text-align: center;
        text-decoration-line: none; 
        margin-top: 8px;
    }

    .highscore, h2{
        display:none;
    }

    .suggestions{
        margin-top: 15.5pt;
        transform: translate(11px);
    }
    
    .sugg{
        
    }
    
    .sugg img{
        margin-bottom: 9px;
    }
    
    .sugg-infos{
        float: right;
        font-size: 9px;
        
    }
    
    .sugg-head{
        font-family: 'OswaldRegular';
        text-align: center;
        background: rgb(248, 245, 228);
    }
    
    .infos{
        background: rgba(248, 245, 227, 0.6);
    }
    
    .erstellt{
        font-family: 'OswaldLight';
    }
    
    .gespielt{
        font-family: 'OswaldLight';
    }
    

}







