@font-face { 
    font-family: 'Noto-Sans';
    src: url('../fonts/NotoSans-hinted/NotoSans-Regular.ttf') format('truetype');
    
    }
    
 @font-face { 
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}


html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

body {
    background-image: url('../images/background.jpg');
}

.header {
    background-color: rgba (80, 79, 72,1);
    text-align: center;
    
}

.header {
    color: black;
    background-color: rgba (255, 255, 255, 1);

}

.heading {
    font-size: 24px;
    text-align: center;
    color:black;
    width:800px;
    height: 50px;
    display: inline-block;
    background-color: white;
    margin-left: 15px;
    line-height: 50px;
    font-family: Oswald;
}

.erneut {
    background-color: rgba(203,7,39,1); 
    color: rgba(255,255,255,1 );
    font-size: 20px;
    border:none;
    text-align: center;
    text-decoration:none;
    width: 345px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-family: Noto-Sans;
}

.erneut p{
    text-align:center;
}

.fussbaelle img{
    height: 15px;
    width: 15px;
    padding: 8px;
}

.ballFalsch img{
    opacity: 30%;
}

.fussbaelle {
    //width: 345px;
    width: (100%-15px);
}

.punkte {
    background-color: rgba(233,194,12,1);
    color: black;
    font-size: 20px;
    text-align:center;
    width: 345px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin-top: 3px;
    font-family: Oswald;
}

.suggestions {
    background-color: rgba(233,194,12,1);
    color: black;
    font-size: 20px;
    text-align:center;
    width: 345px;
    height: 50px;
    font-family: Oswald;
    line-height: 50px;
    display: inline-block;
    font-style: normal;
}

.suggestions {
    margin-top: 3px;
}

.suggestions img{
    width: 113px;
    height: 70px;
    margin-top: 21px;
}

.suggestions .sugg {
    float: left; 
    margin-right: 2px;
}

.suggestions .sugg div {
    position:relative;
    top: -36px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 113px;
    height: 20px;
    line-height: 20px;
    font-family: 'Noto-Sans';
    
}

.linke-seite {
    float: left;
    padding: 50px;
    padding-right: 50px;
}

.rechte-seite {
    float: left;
    padding: 50px;
    padding-left: 5px;
}

.quizbild img {
    width: 345px;
    height: 214px;
    margin-top: -5px;
}

.rank img {
    height: 15px;
    width: 20px;
}


.highscore table{
    //width: 345px;
    width: 100%;
    margin-top: -9px;
    border-spacing: 0px 5px;
}

.highscore table th {
    background-color: rgba(233,194,12,1);
    text-align: left;
    text-width: none;
    font-family: Oswald;
}
.highscore table td {
    background-color: rgba(255, 255, 255, 0.5);  
    font-family: Oswald;
}

.highscore tr:last-child {
    outline: solid 3px rgba(203, 7, 39, 1);
}

.highscore-btn, .infos {
    display: none;
}
