html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
    {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        border: 0;
        
    }
    
    @font-face { font-family: 'OswaldRegular'; 
                src: url('../fonts/Oswald-Regular.ttf') format('truetype'); }
    @font-face { font-family: 'OswaldLight'; 
                src: url('../fonts/Oswald-Light.ttf') format('truetype'); }
    @font-face { font-family: 'NotoSans'; 
                src: url('../fonts/NotoSans-Regular.ttf') format('truetype'); }


.ball-falsch{
    
}


@media only screen and (max-width: 439px){


    body{
        max-height: auto;
        background-image:url(../images/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .heading{
        height: 2em;
        width: calc(100% - 21px);
        background: rgb(248, 245, 228);
        position: absolute;
        transform: translate(11px);
        margin-top: 6em;
        margin-bottom: 0%;
        display: inline-block;
    }
    
    h1{
        text-align: center;
        margin-top: 0.25em;
        font-family: 'OswaldRegular';
        font-size: 1em;
    }

    .quizbild img{
        width: calc(100% - 21px);  
        display: block;
        margin-top: 0.56em;
        margin-left: 11px;
    }

    .punkte{
        height: 2.1em;
        width: calc(100% - 21px);
        background-color: rgb(233, 194, 12);
        transform: translate(11px);
        display: inline-block;
    }
    
    .punkte p{
        text-align: center;
        font-family: 'OswaldRegular';
        font-size: 0.8em;
        margin-top: 0.55em;
    }

    .fussbaelle img{
        height: 0.75em;
        width: 0.75em;
        margin-right: 0.2em;
        margin-top: 5pt;
    }
    
    .fussbaelle{
        width: calc(100% - 21px);
        transform: translate(0.7em);
    }
        
    .erneut, .highscore-btn{
        background: rgb(203, 7, 39);
        color: rgb(255, 255, 255);
        height: 2.1em;
        width: calc(100% - 21px);
        transform: translate(11px);
        margin-top: 0.8em;
        border: none;
        display: inline-block;
    }
    
    .erneut p, .highscore-btn p{
        font-family: 'NotoSans';
        font-size: 0.8em;
        text-align: center;
        text-decoration-line: none; 
        margin-top: 0.5em;
    }

    .highscore, h2{
        display:none;
    }

    .suggestions{
        margin-top: 1em;
        width: calc(100% - 21px);
        transform: translate(11px);
        display: inline-block;
        
    }
    
    .sugg{
        height: 2.9em;
        display: block;
        margin-bottom: 7pt;
    }
    
    .sugg img{
        display: inline-block;
        height: 2.9em;
    }
    
    .sugg-infos{
        height: 2.9em;
        width: calc(100% - 76px);
        float: right;
        font-size: 0.55em;
        display: inline-block;
        position: relative;
    }
    
    .sugg-head{
        font-family: 'OswaldRegular';
        text-align: center;
        background: rgb(248, 245, 228);
    }
    
    .infos{
        background: rgba(248, 245, 227, 0.6);
    }
    
    .erstellt{
        font-family: 'OswaldLight';
        text-align: left;
        padding-left: 0.5em;
    }
    
    .gespielt{
        font-family: 'OswaldLight';
        text-align: right;
    }
    

}







