 html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;

}

@font-face { font-family: 'OswaldRegular'; 
            src: url('../fonts/Oswald-Regular.ttf') format('truetype'); }
@font-face { font-family: 'OswaldLight'; 
            src: url('../fonts/Oswald-Light.ttf') format('truetype'); }
@font-face { font-family: 'NotoSans'; 
            src: url('../fonts/NotoSans-Regular.ttf') format('truetype'); }


body{
    max-height: auto;
    background-image:url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



<!--Desktop Screen-->

@media only screen and (min-width: 1024px){
 
    h1{
        text-align: center;
        background-color: #F8F5E4;
        margin-left: 15px;
        margin-right: 15px;
    }

    h2{
        font-size: 20px
    }

    #main {
        padding: 15px;
    }



    .linkeSeite{
        float: left;
        width: 50%;
        box-sizing: content-box;
    }

    .linkeSeite h2{
        text-align: center;
        background-color: #E9C20C;
    }

    .hauptbild{
        height: 314px;
    }

    .playbutton {
        background-color: #CB0727;
        color: #FFFFFF;
        width: 100%;
        height: 50px;
        font-size: 20px;
    }


    .rechteSeite{
        float: right;
        width: 50%;
        box-sizing: content-box;

    }

    .highscoretable{
        margin: 0;
        width: 100%;
        height: 300px;  
        border-spacing: 0 10px;
    }

    .highscoretable tr{
        background-color: #E9C20C;
    }

    .highscoretable td {
        background-color: #F8F5E4;
    }

    .suggestions{
        margin: auto;
        text-align: center;
    }

    .suggestions h2{
        background-color: #E9C20C;
    }
    
}


<!--Tablet Screen-->

@media only screen and (max-width: 1024px){
 
    .heading {
        font-size: 24px;
        text-align: center;
        color:black;
        width:800px;
        height: 50px;
        display: inline-block;
        background-color: white;
        margin-left: 15px;
        line-height: 50px;
        font-family: Oswald;
    }

    .erneut {
        background-color: rgba(203,7,39,1); 
        color: rgba(255,255,255,1 );
        font-size: 20px;
        border:none;
        text-align: center;
        text-decoration:none;
        width: 345px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        font-family: Noto-Sans;
    }

    .erneut p{
    text-align:center;
    }

    .fussbaelle img{
        height: 15px;
        width: 15px;
        padding: 8px;
    }

    .fussbaelle {
    width: 345px;
    }

    .punkte {
        background-color: rgba(233,194,12,1);
        color: black;
        font-size: 20px;
        text-align:center;
        width: 345px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        margin-top: 3px;
        font-family: Oswald;
    }

    .suggestions {
        background-color: rgba(233,194,12,1);
        color: black;
        font-size: 20px;
        text-align:center;
        width: 345px;
        height: 50px;
        font-family: Oswald;
        line-height: 50px;
        display: inline-block;
        font-style: normal;
    }

    .suggestions {
        margin-top: 3px;
    }

    .suggestions img{
        width: 113px;
        height: 70px;
        margin-top: 21px;
    }

    .suggestions .sugg {
        float: left; 
        margin-right: 2px;
    }

    .suggestions .sugg div {
        position:relative;
        top: -37px ;
        background-color: rgba(255, 255, 255, 0.5);
        width: 113px;
        height: 20px;
        line-height: 20px;
        font-family: Noto-Sans;

    }

    .linke-seite {
        float: left;
        padding: 50px;
        padding-right: 5px;
    }

    .rechte-seite {
        float: left;
        padding: 50px;
        padding-left: 5px;
    }

    .quizbild img {
        width: 345px;
        height: 214px;
        margin-top: -5px;
    }

    .rank img {
        height: 15px;
        width: 20px;
    }


    .highscore table{
        width: 345px;
        margin-top: -9px;
        border-spacing: 0px 5px;
    }

    .highscore table th {
        background-color: rgba(233,194,12,1);
        text-align: left;
        text-width: none;
        font-family: Oswald;
    }
    .highscore table td {
        background-color: rgba(255, 255, 255, 0.5);  
        font-family: Oswald;
    }

    .highscore tr:last-child {
        outline: solid 3px rgba(203, 7, 39, 1);
    }

    .highscore-btn, .infos {
        display:none;
    }   
}


<!-- Smartphone Screen-->

@media only screen and (max-width: 439px){
    
    .heading{
        height: 32px;
        width: calc(100% - 21px);
        background: rgb(248, 245, 228);
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 46%;
        margin-bottom: 0%;
        display: inline-block;
    }
    
    h1{
        text-align: center;
        margin-top: 4px;
        font-family: 'OswaldRegular';
        font-size: 16px; 
    }

    .quizbild img{
        width: calc(100% - 21px);  
        display: block;
        margin-top: 9px;
        margin-left: 11px;
    }

    .punkte{
        height: 25pt;
        width: calc(100% - 21px);
        background-color: rgb(233, 194, 12);
        transform: translate(11px);
        display: inline-block;
    }
    
    .punkte p{
        text-align: center;
        font-family: 'OswaldRegular';
        font-size: 13px;
        margin-top: 5pt;
    }

    .fussbaelle img{
        height: 13px;
        width: 13px;
        margin-right: 8.1pt;
        margin-top: 5pt;
    }
    
    .fussbaelle{
        width: calc(100% - 21px);
        transform: translate(9px);
    }
        
    .erneut, .highscore-btn{
        background: rgb(203, 7, 39);
        color: rgb(255, 255, 255);
        height: 25pt;
        width: calc(100% - 21px);
        transform: translate(11px);
        margin-top: 13px;
        border: none;
        display: inline-block;
    }
    
    .erneut p, .highscore-btn p{
        font-family: 'NotoSans';
        font-size: 13px;
        text-align: center;
        text-decoration-line: none; 
        margin-top: 8px;
    }

    .highscore, h2{
        display:none;
    }

    .suggestions{
        margin-top: 15.5pt;
        width: calc(100% - 21px);
        transform: translate(11px);
        display: inline-block;
        
    }
    
    .sugg{
        height: 35pt;
        display: block;
        margin-bottom: 7pt;
    }
    
    .sugg img{
        display: inline-block;
        height: 35pt;
    }
    
    .sugg-infos{
        height: 35pt;
        width: calc(100% - 76px);
        float: right;
        font-size: 9px;
        display: inline-block;
        position: relative;
    }
    
    .sugg-head{
        font-family: 'OswaldRegular';
        text-align: center;
        background: rgb(248, 245, 228);
    }
    
    .infos{
        background: rgba(248, 245, 227, 0.6);
    }
    
    .erstellt{
        font-family: 'OswaldLight';
        text-align: left;
        padding-left: 5.4pt;
    }
    
    .gespielt{
        font-family: 'OswaldLight';
        text-align: right;
    }
}