/* GGf mal CSS Präprozessoren checken. */

html{
}

/*Allgemeine Formatierung, Schriftart, Font Groesse, Hintegrund*/
body{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    background-color: grey;
    background-image: url("quizrundepp/img/stadion_Desktop.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-image: 
/*background-color, Vorläufig, wird angezeigt wenn Bild nicht geladen werden kann*/
}
/*Anzeige fragen-counter*/
.fragen-counter {
  width: 100px;
  margin-top: 1px;
  margin-left: 7px;
  color: #FFFFFF;
}

/*Formatierung Frage und Hintergrund der Frage*/
.fragenblock{
  position:absolute;
  left: 0;
  right: 0;
  top: 20;
  margin-left: 15px;
  margin-right: 15px;
  background-color:rgba(248,245,228,0.6);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;

}

/*Allgemeine Formatierung der Antworten,
hauptsächliche Aufgabe: alle Fragen an den unteren Fensterrand setzen*/
.alle-antworten{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  list-style:none;
  padding: 0;
  margin: 0;
}

/*Antworten Formatierung, jede Frage bekommt einen eigenen Hintergrund,
Abstände zwischen den Fragen*/


.antwort{
  margin: 10px 15px;
  padding:3px 20px;
  cursor: pointer;
  background-color:rgba(248,245,228,0.7);
}
.antwort:hover{
  background-color:rgba(248,245,228,1);
}

@media only screen and (min-width: 439px) {

    .antwort{
        margin-top:20px;
    }
    .fragenblock{
        height: 10%;
        font-size: 24px;
    }
    .alle-antworten{
        margin-top:-20px;
        font-size: 24px;
    }

    .fragen-counter{
        font-size: 24px;
    }
    }

@media only screen and (min-width: 1024px) {
    .antwort{
        margin-top:40px;
        font-size:24px;
    }
    .fragenblock{
        height:15%;
        font-size: 24px;
    }
    .fragen-counter{
        font-size: 24px;
    }
}
