html, body{
    margin: 0px;
	font-family: 'Oswald-Light' , sans-serif;
    color: #FFFFFF;
}

header {
    background-color: #504F48;
    height: 53px;
    font-size: 20px;
}

nav {
    background-color: #000000;
    height: 53px;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #E9C20C;
}

a:active {
    color: #E9C20C;
}

ul {
    margin: 0px;
}

li {
    display: inline-block;
}

.container {
    position: fixed;
    width: 100%;
}

p {
    position: relative;
    width: 115px;
    text-align: right;
    margin-left: 50;
    margin-top: 0px;
    padding-top: 9px;
    font-size: 15px;
}

.head {
    float: right;
    z-index: 1;
}

.head > li {
    padding: 0.5em 0em;
    padding-right: 33px;
}

.logo {
    position: absolute;
    margin-top: 4px;
    height: 43px;
    left: 33px;
}

.navi {
    margin-left: 161px;
    padding-left: 0px;
}

.navi > li {
    width: 161px;
    padding: 0.3em 0em;
    text-align: center;
    border-left: 1px solid #504F48;
}

.navi > li:last-child {
    border-right: 1px solid #504F48;
}

.burgermenu {
    position: absolute;
    right: 15px;
    width: 40px;
    height: 40px;
    z-index: 2;
    visibility: hidden;
}

.avatar {
    float: left;
    left: 10px;
    width: 32px;
    height: 32px;
    padding-top: 4px;
    padding-left: 5px;
    z-index: 2;
}

.burgerheader {
    width: 170px;
    height: 37px;
}

.burgernav {
    width: 170px;
    height: 550;
}

.burgernav > ul {
    margin-left: 0px;
    padding: 0px;
}

.burgernav > ul > li {
    display: block;  
    padding: 10px 20px;
    font-size: 17px;
    border-bottom: 1px solid #504F48;
}

.quizbeenden {
    background-color: #CB0727;
    color: #FFFFFF;
    border: none;
    width: 170px;
    height: 40px;
    font-family: 'Noto Sans' , sans-serif;
    font-size: 20px;
    position: relative;
    top: 260px;
}

.menu {
    width: 170px;
    position: relative;
    float: right;
    left: 170px;
}

.gesamtcontainer {
    position: relative;
}

#move {
    position: relative;
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: #FFFFFF;
    }
    .head {
        visibility: hidden;
    }
    header {
        height: 40px;
    }
    
    .burgerheader {
        height: 40px;
    }
    
    nav {
        visibility: hidden;
    }
    
    .burgernav {
        visibility: visible;
        
    }
    
    .logo {
        left: 20px;
        height: 38px;
        margin: 0px;
        top: 2px;
    }
    
    .burgermenu {
        visibility: visible;
    }
}


@media only screen and (max-width: 800px) {
    body {
        background-color: #FFFFFF;
    }
    
    p {
        font-size: 13px;
    }
    
    .head {
        visibility: hidden;
    }
    
    header {
        height: 37px;
    }
    
    .avatar {
        width: 28px;
        height: 28px;
        padding-top: 6px;
        padding-left: 5px;
    }
    
    .burgerheader {
        height: 37px;
    }
    
    .burgermenu {
        visibility: visible;
        height: 37px;
        width: 37px;
        right: 10px;
    }
    
    nav {
        visibility: hidden;
    }
    
    .logo {
        left: 10px;
        height: 31px;
        margin: 0px;
        top: 3px;
    }
}