html, body{
    margin: 0px;
	font-family: 'Oswald-Light' , sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

header {
    background-color: #504F48;
    height: 50px;
}

nav {
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #E9C20C;
}

a:active {
    color: #E9C20C;
}

ul {
    margin: 0px;
}

li {
    display: inline-block;
}

.container {
    position: fixed;
    width: 100%;
}

p {
    width: 130px;
    text-align: right;
    margin-left: 50;
    margin-top: 0px;
    padding: 0.5rem;
}

.head {
    float: right;
    z-index: 1;
}

.head > li {
    padding: 0.5rem 1rem;
}

.logo {
    position: absolute;
    margin-top: 2px;
    height: 46px;
    left: 10px;
}

.navi {
    margin-left: 7vw;
}

.navi > li {
    width: 150px;
    padding: 0.5rem 1rem;
    text-align: center;
    border-left: 1px solid #504F48;
}

.navi > li:last-child {
    border-right: 1px solid #504F48;
}

.burgermenu {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    z-index: 2;
    margin-top: 5px;
    visibility: hidden;
}

.avatar {
    float: left;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 2;
    margin-top: 5px;
}

.burgerheader {
    width: 200px;
    height: 50px;
}

.burgernav {
    width: 200px;
    height: 500px;
}

.burgernav > ul {
    margin-left: 0px;
    padding: 0px;
}

.burgernav > ul > li {
    display: block;  
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #504F48;
}

.quizbeenden {
    background-color: #CB0727;
    color: #FFFFFF;
    border: none;
    width: 200px;
    height: 40px;
    font-family: 'Noto Sans' , sans-serif;
    font-size: 20px;
    margin-top: 200px;
}

.menu {
    width: 200px;
    position: relative;
    float: right;
    right: -100px;
}

.gesamtcontainer {
    position: relative;
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: lightgrey;
    }
    .head {
        visibility: hidden;
    }
    
    .burgermenu {
        visibility: visible;
    }
    
    nav {
        visibility: hidden;
    }
    
    .gesamtcontainer {
        /*
        position: relative;
        right: 200px;
        */
    }
}
/*
@media only screen and (max-width: 439px) {
    body {
        background-color: darkgrey;
    }
    
    .head {
        visibility: hidden;
    }
    
    .burgermenu {
        visibility: visible;
    }
    
    nav {
        visibility: hidden;
    }
    
    .gesamtcontainer {
        
        position: relative;
        right: 200px;
        
    }
*/
}