html{
}

/*Allgemeine Formatierung, Schriftart, Font Groesse, Hintegrund*/
body{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    background-color: grey;
    background-image: url("quizrundepp/img/stadion_Desktop.jpg");
    background-repeat: no-repeat;
    background-size:cover;
/*background-color, Vorläufig, wird angezeigt wenn Bild nicht geladen werden kann*/
}
/*Anzeige "Frage 2/10"*/
.beiwelcherfragesindwir {
  margin-top: 1px;
  margin-left: 15px;
  color: #FFFFFF;
}

/*Formatierung Frage und Hintergrund der Frage*/
.Fragenblock{
  position:absolute;
  left: 0;
  right: 0;
  top: 20;
  margin-left: 15px;
  margin-right: 15px;
  background-color:rgba(248,245,228,0.6);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;




}

/*Allgemeine Formatierung der Antworten,
hauptsächliche Aufgabe: alle Fragen an den unteren Fensterrand setzen*/
.AlleAntworten{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Antworten FOrmatierunge, jede Frage bekommt einen eigenen Hintergrund,
Abstände zwischen den Fragen*/
.Antwort{
  /*height: 60px;*/
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color:rgba(248,245,228,0.7);
}
.Antwort:hover{
  background-color:rgba(248,245,228,1);
}

@media only screen and (min-width: 439px) {
   
    .Antwort{
        margin-top:20px;
    }
    .Fragenblock{
        height: 10%;
        font-size: 24px;
    }
    .AlleAntworten{
        margin-top:-20px;
        font-size: 24px;
    }
    }
@media only screen and (min-width: 1024px) {
    .Antwort{
        margin-top:40px;
        font-size:24px;
    }
    .Fragenblock{
        height:15%;
        font-size: 24px;
    }
    }
