header{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

article{
    text-align: justify;
    position: relative;
    width: 600px;
    margin: 10px;
    padding: 10px;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}

footer{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}