body{
    background-image: url(../grafiker/~BILDPFAD EINFÜGEN~);
}

.Sortierliste, .Quizkachel{
    
}

.Sortierliste{
    background-color:rgba(233,194,12,1);
    height: 50px;
}

.Quizkachel{
    background-color: rgba(248,245,228,1);
    align-content: center;
    font-family: Oswald, sans-serif;
    font-style: normal;

}

#Quizbild{
    float: left;
}

.Quizkachel h3, p{
    font-size: 24px;
    line-height: 10px;
}

.Quizkachel Erstellinfos{
    font-size: 20px;
    background-color: rgba(248,245,228,0.6);        /*UNKLAR WIE HOCH DIE DECKKRAFT IST*/
}