body{
    background-image: url(/Pfad);
    font-size: 100%;
    margin: 0em;
    padding: 0em;
}
    

.content {
    margin: 0 auto;
    margin-left: 113pt;
    margin-right: 112pt;
    width: calc(100% - 25px);
}


.Sortierliste, .Quizkachel{
    
}

/* Sortierliste wurde angepasst, muss aber noch bearbeitet werden */

.Sortierliste{
    background-color:rgba(233,194,12,1);
    height: 27pt;
    width: calc(100% - 270px);
    margin-top: 20px;
    margin-bottom: 13pt;  
    font-family: Oswald; 
}

.sortiercontent{
    width: 100%;
    font-size: 16.1pt;
    line-height: 24.3pt;
    text-align: center;
    padding: 0em;
}

.sortiercontent a{
    text-align: center;
    width: 25%;
}

.Sortierliste a{
    text-decoration: none;
    color: black;
    float: left;
}

/* wurde größengerecht angepasst */

.Quizkachel {
    display: block;
    float: left;
    padding: 0;
    margin-right: 15pt;
    margin-bottom: 29.5pt;
    background-color: rgba(248,245,228,1);
    font-family: Oswald, sans-serif;
    font-style: normal;
    width: 172.5pt;
    height: 232pt;
}

/* NEU Klasse "Quizbild" wurde eingefügt und größengerecht angepasst */

.Quizbild{
    display: block;
    margin: auto;
    width: 172.5pt;
    height: 107pt;
}

.Quizkachel h3{
    font-family: Oswald;
    margin: auto;
    font-size: 12pt;
    line-height: 100%;
    background-color: rgba(248,245,228,1);
    text-align: center;
    height: 18pt;
    padding-top: 5px;
    padding-left: 4.5pt;
    padding-right: 6.7pt;
}

/* wurde an Desktopversion angepasst und ist in einer Reihe, anstatt in 2 Reihen*/

.Erstellinfos{
    font-family: Oswald;
    font-weight: 100;
    color: #2F2D2C;
    text-align: left;
    padding-top: 1pt;
    padding-bottom: 2pt;
    padding-left: 7.5pt;
    padding-right: 5pt;
    background-color: rgba(248,245,228,1);   
    margin: auto;
}

/* NEU Klasse "Beschreibung" wurde eingefügt: 3 Zeilen pro Beschreibung */

.Inhalt{
    height: 64pt;
    font-family: Oswald;
    font-size: 10pt;
    color: #2F2D2C;
    background-color: rgba(248,245,228,0.7); 

}

.Beschreibung{
    text-align: left; 
    font-weight: lighter;
    background-color: rgba(248,245,228,1);
    margin: 0em;
    height: 48pt;
    padding-left: 7.5pt;
    padding-right: 7.5pt;
    padding-bottom: 5pt;
    padding-top: 5pt;
}

/* Schriftgröße wurde verändert */

.AnzGespielt{
    font-size: 10pt;
    text-align: right;
    font-weight: lighter;
    background-color: rgba(248,245,228,1);
    margin: 0em;
    height: 16pt;
    padding-right: 7.5pt;
}

/* NEU Button "Auswahl" wurde eingefügt, farblich gemacht und angepasst */

.button{
    padding-bottom: 8pt;
    margin: 0em;
    height: 25pt;
}

.Auswahl{
    background-color: #CB0727 ;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-family: Noto Sans; 
    color: rgba(255,255,255,1);
    text-decoration: none;
    height: 25pt;
    font-size: 12pt;
    margin-bottom: 7.5pt;
    padding-top: 3.5pt;
}


/********************************************************************************
*                                                                               *
*                               TABLET-ANSICHT                                  *
*                                                                               *
*********************************************************************************/

@media screen and (max-width: 1024px){

    .content Sortierliste{
        margin: 0; 
        padding: 0;
    }
    
    .Sortierliste {
        width: calc(172.5pt * 3 + 30px);
    }
    
    body {
    
        background-image: url(image/8-324_fussballstadion.jpg);
        background-color: darkgray;                 /**ENTFERNEN!!**/
        font-size: 100%;
        margin: 0em;
        padding: 0em;
    }

    .Auswahl{
        background-color: transparent;
        padding: 0;
        position: relative;
        margin-top: -10pt;
    }
    
    .content{
        width: 100%;
        margin-left: calc((100% - (172.5pt * 3) - 30px) / 2);
        margin-right: calc((100% - (172.5pt * 3) - 30px) / 2);
        
    }
    
    .inhalt{
        position: absolute;
        bottom: 40px;
        width: 100%;
    }
    
    h1 {
        font-size: 1em;
        line-height: 2.5em;
        font-family: Helvetica;
        font-weight: 100;
        color: #2F2D2C;
        margin: -0.6em;
    }
    
    .Quizbild{
        
        display: block;
        margin: auto;
        width: 100%;
        height: 107pt;
        }
    
    p {
        line-height: 0.75em;
        font-family: Helvetica;
        font-weight: 100;
        color: #2F2D2C;
    }
    
    
    
    
    .Quizkachel{
        float: left;
        display:inline-block;
        background: beige ;
        width:  172.5pt;
        height: 353.31px;
        /**width: calc((100% - 120px - 30px)/3);
        min-width: 150px;
        min-height: 34.502%;**/
        margin: 0;
        margin-right: 15px;
        position: relative;
        text-align:center;
        
    }
    .button {
        background-color:#CB0727; 
        border: none;
        color: white;
        padding: 0px 0px 10px 0px;
        text-align: center;
        text-decoration: none;
        font-family: Oswald;
        font-size: 20px;
        width: 100%;
        height: 30px;
        position: absolute;
        left: 0;
        bottom: 0px;
    }
    
    .Erstellinfos{
        
        font-family: Oswald;
        font-weight: 100;
        
        color: #2F2D2C;
        text-align: left;
        background:beige;
        display: block;
        line-height: 20px;
        
        height: 15px;
        margin: 5px 10px 0 0;
        }
    
    .AnzGespielt{
        font-size: 10pt;
        text-align: right;
        font-weight: lighter;
        background-color: rgba(248,245,228,1);
        margin: 0;
        padding: 0 5px 0 0;
        width: calc(100%-5px);
        height: 16pt;
        float: right;
    }    
    
    .Beschreibung{
        text-align: left; 
        font-weight: lighter;
        background-color: rgba(248,245,228,1);
        height: 30pt;
        margin-left: 10px;
        padding-left: 0;
    }    
    
    #img{
        background-color: burlywood;        /**ENTFERNEN!!**/
        margin-left: -10px;
        width: 250px;
        height: 50px;
        
        }
    }
    
    /********************************************************************************
    *                                                                               *
    *                               MOBILE-ANSICHT                                  *
    *                                                                               *
    *********************************************************************************/
    
    /**DIE QUIZKACHEL IST ZU BREIT! BZW DAS PADDING/MARGIN GREIFT NICHT**/
    
@media only screen and (max-width: 439px){
    
    
    html, body{
        padding: initial;
        margin: initial;
        background-image: url(img/Background_Desktop.jpg);
    }
    
    .content {
        padding: 0;
        margin: 0;
        width:100%;
    }
    
    
    .Quizkachel{
        width: initial;
        height: initial;
        float: initial;
        position: relative;
        padding:0;
        background-color: lightgrey;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 5px;

    }
    
    .Quizbild{
        margin: initial;
        padding: initial;
        width: initial;
        height: auto;
        float:left;
        margin-right: 10px;
    }
    
    .Quizkachel h3{
        margin-left: 113px;
        margin-bottom: -29px;
    }
    
    .inhalt{
        padding: initial;
        margin: initial;
        width: initial;
        height: initial;
        float: left;
        position: relative;
        bottom: initial;
        text-align: left;
        font-size: 13px;
    }

    .Erstellinfos{
        padding: 2px 0 0 0;
        margin: 0 10px 0 0;
        width: initial;
        height: initial;
        background-color: initial;
        text-decoration: none;
        float: left;
        margin-top: 29px;
        font-size: 13px;
        line-height: 17px;
    }
    
    .button{
        display: none;
    }
    
    .AnzGespielt{
        padding: initial;
        margin: initial;
        width: initial;
        height: initial;
        text-align:right;
        background-color:initial;
        font-size: 8px;
    }
    
    .Beschreibung{
        width: initial;
        height: initial;
        padding: 0;
        margin: 10px;
        background-color: initial;
        line-height: 15px;
        font-family: Oswald;
        color: #2F2D2C;
        
    }
    
    .basicInfos{
        position: relative;
    }
    
    .datum, .AnzGespielt{
        position: absolute;
        bottom: 0;
    }
    
    .datum{
        left: 0;
        padding: 2px 0 0 0;
        margin: 0 10px 0 0;
        width: initial;
        height: initial;
        background-color: initial;
        text-decoration: none;
        float: left;
        margin-top: 29px;
        font-size: 13px;
        line-height: 17px;
    }
    
    .AnzGespielt{
        right: 0;
    }
    
    .desktop, .tablet{
        display: none;
    }
    
    .hidden {
        display:none;
    }

    .visible {
        height: 200px;
        display: block;
        z-index: 1;
    }
    
    /**ALTE VERSION **/
    
    /**
    .Quizbild{
        width: 113px;
        height: 70px;
        float: left;
        z-index: 1;
    }
    
    .Sortierliste, .Quizkachel, .Erstellinfos{ 
        margin: 5px 15px;
    }
    
    .Sortierliste{
        width: calc(100% - 25px);
    }
    
    .sortiercontent{
        width: 95%;
    }
    
    
    
    .Quizkachel{
     height: auto;
        display: inline-block;
        width: calc(100% - 25px);
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
        padding: 0;
    }
    
    .inhalt{
        width: calc(100% - 113px);
        position: relative;
        align-content: center;
        font-family: Oswald, sans-serif;
        font-style: normal;
        padding: 0;
    }
    
    .Quizkachel h3{
        padding: 0;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 0;
        position: absolute;
        margin-left:113px;
        z-index: 1;
        width: calc(100% - 113px);
        background-color: white;
    }
    
    .Erstellinfos{
        padding: 0;
        font-size: 10px;
        font-style: normal;
        position: absolute;
        margin: 5px;
        margin-left: calc(113px + 10px);
        margin-top: 25px;
        line-height: 12px;
        z-index: 1;
    }
    
    .AnzGespielt{
        padding: 0;
        font-size: 8px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 10px;
        margin-bottom: -40px;
        z-index: 1;
        text-decoration: none;
    }
    
    .Beschreibung{
    }
    
    .button{
        display: none;
    }

.hidden {
    display:none;
}

.Quizkachel visible>div {
    height: 200px;
    display: block;
    position: absolute;
    background-color: aqua;
    z-index: 1;
}**/
    
}