html, body{
    font-family: 'Oswald-Light', sans-serif;
}

body{
    background-image: url(../grafiker/~BILDPFAD EINFÜGEN~);
    margin: 10%;
}

.Sortierliste{
    background-color:aqua;
    width: 100%;
    height: 50px;
    margin-bottom: 10%;
}

.Quizkachel{
    background-color: burlywood;
    align-content: center;
}

#Quizbild{
    float: left;
    position: 
}