body {
    background:grey;
    font-size: 100%;
    margin: 0em;
    padding: 0em;
}

h2 {
    font-size: 1.563em;
    line-height: 1.8em;
    font-family: Helvetica;
    font-weight: 100;
    color: #2F2D2C;
    margin: 0em;
    padding: 0em;
    text-align: center;
}

p {
    line-height: 1.25em;
    font-family: Helvetica;
    font-weight: 100;
    color: #2F2D2C;
    margin: 0em;
    padding: 1em;
    text-align: center;
}

#quizcontent {
    display: block;
    width: 100%;
    margin:1em;
    padding: 0em;
}

#quizcontent article{
    display:block;
    width: 100%;
    background: white;
    vertical-align: top;
    margin: 0em;
    padding: 0em;
    text-align: center;
}

#quizcontent article img {
    width:100%;
    
}
.btn {
    padding: 0em;
    background-color: #CB0727 ;
    width: 100%;
    height: 10%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: inline-block; 
    text-align: center; 
    line-height: 550%; 
    font-family: arial;
    font-weight: bold; 
    color: white;
    text-decoration: none;
}

#quizcontent .teasertext {
    opacity: 0.5;
}

#highscorecontent {
    background: white;
}
