/*Einbindung der Schriftart Oswald */
@font-face {
    font-family: Oswald;
    src: url('Oswald-Regular.tff') format('truetype');
}
body {
    background-image: url(http://www.spanien-newsletter.de/fileadmin/user_upload/ausgabe-2013-oktober/barcelona-camp-nou_0801823.jpg);
    background-size:cover;
}
.boxbox{
    display:flex;
    margin-right: 1em;
}
.quizbox {
    max-width: 439px;
    max-height: 600px;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
}
.titel {
    font-family: 'Oswald', sans-serif;
    background-color: #F8F5E4;
    text-align: center;
    padding: 0.001em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;   
}
img {
    max-width: 100%;
    height: auto;   
}
.author {
    background-color:rgba(248, 245, 228, 0.7);
}
.teasertext {
    background-color: rgba(248, 245, 228, 0.7);
}
#highscorecontent {
    display: inline-block;
    width:100%;   
}
.btn {
    padding: 0em;
    margin-bottom: 0.5em;
    background-color: #CB0727 ;
    width: 100%;
    height: 10%;
    display: inline-block; 
    text-align: center; 
    line-height: 550%; 
    font-family: arial;
    font-weight: bold; 
    color: white;
    text-decoration: none;
}
.btn1 {
    padding: 0em;
    background-color: #CB0727 ;
    width: 100%;
    height: 10%;
    display: none;
    text-align: center; 
    line-height: 550%; 
    font-family: arial;
    font-weight: bold; 
    color: white;
    text-decoration: none;
}
.liste{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    margin-top: 0,5em;
    margin-right: 1em;
    border-spacing: 0px 10px;   
}
.liste th{
    background-color: #E9C20C;
    text-align: left;
}
.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
    width: 10%;
   text-align: center;
}
.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
    width: 40%;
}
.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
    width: 10%;
    text-align: right;
}
th, td{
    padding: 4px;
    color: black;
}
td{
    background:rgba(248, 245, 228, 0.7);
}
/* Mobile Veränderungen (Highsscoreliste verschwindet und wird zu Button*/
@media screen and (max-width:439px) {
    .btn1 {
        display: inline-block;
    }
    #highscorecontent {
        display:none;
    }
}