.quizbox {
    max-width: 439px;
    max-height: 600px;
    float: left;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.titel {
    background-color: #F8F5E4;
    width: 100%;
    text-align: center;
    padding: 0.001em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
    
}

img {
    max-width: 100%;
    height: auto;
    
}

.author {
    background-color: #F8F5E4;
}

.teasertext {
    background-color: #F8F5E4;
}

#highscorecontent {
    float:right;
    background-color: grey;
    
}

.btn {
    padding: 0em;
    margin-bottom: 0.5em;
    background-color: #CB0727 ;
    width: 100%;
    height: 10%;
    display: inline-block; 
    text-align: center; 
    line-height: 550%; 
    font-family: arial;
    font-weight: bold; 
    color: white;
    text-decoration: none;
}

.btn1 {
    padding: 0em;
    background-color: #CB0727 ;
    width: 100%;
    height: 10%;
    display: none;
    text-align: center; 
    line-height: 550%; 
    font-family: arial;
    font-weight: bold; 
    color: white;
    text-decoration: none;
}

@media screen and (max-width:439px) {
    .btn1 {
        display: inline-block;
    }
    #highscorecontent {
        display:none;
    }
}


