body{
    margin: 0;
    background-image: url(https://static.haga-welt.de/IMAGES/WOHNIDEEN/FOTOTAPETEN/KOMAR/8_Teile/8-324_fussballstadion.jpg);
    background-size: cover;
   
}

#teaserimage {
    padding: 0;
    margin: 0;
}

#teasertext {
    margin: 0;
}

.headline{
    height: 55px;
    background: #F8F5E4;
    width:calc(100% - 30px);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 120px;
}

#headlinetext{
    text-align: center;
    margin-top: 3px;
    font-family: 'Oswald';
}

#move{
    margin: 0px;
	font-family: 'Oswald-Light' , sans-serif;
    color: #FFFFFF;
     z-index: 1;
}

.teaser {
    width: calc(35% - 20px);
    display: inline-block;
    float: left;
    margin-top: 190px;
    margin-left: 15px;
}
#teaserimage {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
#author{
    font-family: 'Oswald';
    font-size: 20px;
    width: calc(100% - 20px);
    margin: 0;
    background: #F8F5E4;
    padding: 10px;
    float: left;
}

#teasertext {
    width: auto;
    margin-top: 10px;
    font-family: 'Noto Sans';
    background:rgba(248, 245, 228, 0.7);
    padding: 10px;
    float: left;
    text-align: left;
    font-size: 18px;
}

.start {
    background: #CB0727;
    color: #fff;
    font-family: 'Noto Sans';
    font-size: 30px;
    border: none;
    padding: 5px;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.container-table {
    float: right;
    margin: 15px;
    width: calc(65% - 25px);
    position: absolute;
    right: 0px;
    margin-top: 131px;
    
}

.liste{
    font-family: 'Oswald';
    width: 100%;
    margin-top: 50px;
    border-spacing: 0px 10px;   
}

.liste th{
    background-color: #E9C20C;
    text-align: left;
}

.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
    width: 10%;
   text-align: center;
}

.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
    width: 40%;
}

.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
    width: 10%;
    text-align: right;
}

th, td{
    padding: 4px;
    color: black;
}

td{
    background:rgba(248, 245, 228, 0.7);
}


@media only screen and (max-width: 439px) {
    
    .teaser{
        display: none;
    }
    
    .container-table{
        float: none;
        margin: 15px;
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 150px;
    }
    
    .headline{
        margin-left: 15px;
        height: 55px;
        width: 140px;
        height: 45px;
        position: absolute;
        margin-top: 105px;
        left: 70px;

    }
  
}

