@import "../../assets/css/base";

@font-face { font-family: 'Oswald-Regular';
             src: url('../../assets/fonts/Oswald/Oswald-Regular.ttf') format('truetype'); }
@font-face { font-family: 'NotoSans-Regular';
             src: url('../../assets/fonts/NotoSans/NotoSans-Regular.ttf') format('truetype'); }
/*Body und Hintergrund*/
body{
    margin: 0;
    background: url(../../assets/images/stadion_Desktop.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*Überschrift Container*/
.headline{
    height: 45px;
    background: #F8F5E4;
    width:calc(100% - 30px);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 116px;
}

/*Überschrifttext*/
#headlinetext{
    text-align: center;
    margin-top: 3px;
    font-family: 'Oswald-Regular', sans-serif;
    font-size: 24px;
}

/*Dropdown-Menü*/
#auswahl{
    margin-bottom: 10px;
    width: 100%;
    height: 34px;
    font-family: 'Oswald-Regular';
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #F8F5E4;
}

/*Container linke Seite*/
.teaser {
    width: calc(35% - 20px);
    display: inline-block;
    float: left;
    margin-top: 176px;
    margin-left: 15px;
}

/*Quizbild*/
#teaserimage {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

/*Autor und Erstelldatum*/
#author{
    font-family: 'Oswald-Regular';
    font-size: 20px;
    width: calc(100% - 20px);
    margin: 0;
    background: #F8F5E4;
    padding: 10px;
    float: left;
}

/*Quizbeschreibung/Teasertext*/
#teasertext {
    width: calc(100% - 20px);
    margin-top: 10px;
    font-family: 'NotoSans-Regular';
    background:rgba(248, 245, 228, 0.7);
    padding: 10px;
    float: left;
    text-align: left;
    font-size: 20px;
}

/*Rang in Tabelle*/
#medaillen {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    height: 50%;
}

/*Container für Tabelle*/
.container-table {
    float: right;
    margin: 15px;
    width: calc(65% - 25px);
    position: absolute;
    right: 0px;
    margin-top: 136px; 
}

/*Gesamte Tabelle*/
.liste{
    font-family: 'NotoSans-Regular';
    width: 100%;
    margin-top: 30px;
    border-spacing: 0px 10px;   
}

/*Tabellenkopf*/
.liste th{
    background-color: #E9C20C;
    text-align: left;
}

/*Container für Tabelle*/
.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
    width: 10%;
   text-align: center;
}

/*Breite der einzelnen Tabellenspalten*/
.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
    width: 40%;
}

.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
    width: 10%;
    text-align: right;
}

/*Rote Border um letzten Eintrag*/
#lastentry{
   outline: solid 3px rgba(203, 7, 39, 1);
}

th, td{
    padding: 4px;
    color: black;
}

td{
    background:rgba(248, 245, 228, 0.7);
}


/*Tablet-Anischt*/
@media only screen and (max-width: 1024px) {
       
    .headline{    
        margin-top: 50px;
    }
  
    .teaser{
        margin-top: 105px;
    }

    .container-table{
        margin-top: 65px;
    }
}

/*Smartphone-Ansicht*/
/*ID-Namen identisch, siehe oben*/
@media only screen and (max-width: 439px) {
    
    body{
        margin: 0;
        background: url(../../assets/images/highscore%20smartphone%20back.png) no-repeat center center;
        background-size: 100% 290px; 
    }
    
    .liste{
    font-family: 'NotoSans-Regular';
    margin-top: 0px;   
    }
    
    /*Ausgeblendeter Content*/
    #teasertext, #author, #teaserimage{
        display: none;
    }
    
    #auswahl{
        margin-top: 55px; 
    }
    
    .teaser{
        width: calc(100% - 30px);
    }
    
    .container-table{
        width: calc(100% - 30px);
        margin-top: 195px;
    }
    
    .headline{
        margin-left: 15px;
        height: 45px;
        width: 140px;
        position: absolute;
        margin-top: 105px;
        left: 70px;
    }
}

